html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Helvetica";
    color: #5c5c5c;
    overflow-x: hidden;
}


header {
    height: 500px;
    /*background-image: url("../images/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;*/
    position: relative;
}

#subTitle {
    color: #fff;
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.opaq-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0099ff;
    /*opacity: 0.3;*/
}

#centreIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 180px;
    width: 180px;
    background-color: #fff;
    border-radius: 100%;
}

    #centreIcon span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: #0099ff;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        cursor: default;
    }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

section,
.section {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 200px;
    padding: 20px;
}

.section {
    color: #fff;
}

.section-title {
    color: #0099ff;
    font-size: 2.4em;
}

section p {
    font-size: 1.1em;
    line-height: 25px;
}


#pageBreak {
    width: 100%;
    background: #0099ff;
}

.wrap {
    display: flex;
}

.info-item {
    flex: auto;
    margin: 0 15px 0 15px;
    padding: 10px;
    width: 30%;
}

.info-item.compact {
    width: 300px;
}
.info-item h3 {
    text-align: center;
}

    .info-item p {
        font-size: 1em;
    }

.plan-item {
    flex: auto;
    text-align: center;
}
    .plan-item h3 {
        color: #0099ff;
    }

    .plan-item p {
        line-height: normal !important;
        margin: 0;
    }

footer {
    margin: 50px 0 0 0;
    height: 300px;
    background: #e9eaea;
    position: relative;
}

#footerLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .footer-link-wrapper {
     display: inline-block;
     height: 100px;
     width: 100px;
     position: relative;
 }

 .footer-link {
     border: 2px solid;
     height: 80%;
     width: 80%;
     display: block;
     border-radius: 100%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #5c5c5c;
 }

.footer-link i {
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .footer-link:hover {
     height: 60%;
     width: 60%;
     color: #0099ff;
     transition: all 0.2s linear;
 }
